/* .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

.search-input {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f2f2f2;
}

thead tr {
    border-bottom: 2px solid #ddd;
}

thead td {
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  background: linear-gradient(45deg, #1B5E20, #33691E, #424242, #212121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

thead tr {
  background: linear-gradient(45deg, #1B5E20, #33691E, #424242, #212121);
}
