<!-- <h1 style="text-align: center">Feedback Details</h1>
<div class="container" *ngIf="!feedbacks">
    <p>No data found</p>
</div>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>User Name</th>
                <th>Feedback</th>
                <th>Posted Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let feedback of feedbacks,let i=index">
                <td>{{i+1}}</td>
                <td>{{feedback.user.username}}</td>
                <td>{{feedback.feedbackText}}</td>
                <td>{{feedback.date}}</td>
                <td><button class="btn btn-lg btn" (click)="showProfile(feedback.feedbackId)">Show Profile</button></td>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- <ng-template style="height: 100vh;width: 50vw;" #successModal let-modal>

    <div style="height: 50vh;justify-content: center;">

        <div class="success" style="margin: 3px auto;">

            <p>User Details:</p>
            <p>Email: {{feedback.user.email}}</p>
            <p>Username: {{feedback.user.username}}</p>
            <p>Mobile Number: {{feedback.user.mobileNumber}}</p>
            <button (click)="closeProfile()">close</button>

        </div>
    </div>

</ng-template> -->




<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4 text-center text-white">FEEDBACK DETAILS</h1>
    <table class="min-w-full bg-white text-center">
        <thead>
            <tr class="bg-gradient-to-r from-green-900 via-green-800 to-gray-800 text-white">
                <th class="py-1 px-2 border-b">S.No</th>
                <th class="py-1 px-2 border-b">User Name</th>
                <th class="py-1 px-2 border-b">Feedback</th>
                <th class="py-1 px-2 border-b">Posted Date</th>
                <th class="py-1 px-2 border-b">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let feedback of feedbacks,let i=index" class="hover:bg-gray-100">
                <td class="py-1 px-2 border-b">{{i+1}}</td>
                <td class="py-1 px-2 border-b">{{feedback.user.username}}</td>
                <td class="py-1 px-2 border-b">{{feedback.feedbackText}}</td>
                <td class="py-1 px-2 border-b">{{feedback.date}}</td>
                <td class="py-1 px-2 border-b">
                    <button class="bg-green-500 text-white px-2 py-1 rounded mr-2 hover:bg-green-700"
                        (click)="showProfile(feedback.feedbackId)">Show Profile</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50" *ngIf="isOpen">
    <div class="bg-white rounded-lg shadow-lg p-6 w-1/3">
        <h2 class="text-xl font-semibold mb-4">User Details</h2>
        <p>Username: {{feedback.user.username}}</p>
        <p>Email: {{feedback.user.email}}</p>
        <p>Mobile Number: {{feedback.user.mobileNumber}}</p>
        <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2 hover:bg-gray-700"
            (click)="close()">Close</button>
    </div>
</div>