<!-- <nav class="navbar p-3 mx-0 flex justify-between items-center">
    <div class="flex items-center">
        <img [routerLink]="['/home']" src="assets/FC_logo-removebg-preview.png" alt="Logo" class="h-12 w-35">
        <div [routerLink]="['/home']" class="text-white text-4xl text-center">Farm Connect</div>
    </div>
    <div class="flex space-x-4 justify-between items-center">
        <a [routerLink]="['/home']" class="text-white text-lg pr-2">Home</a>
        
        <div class="relative group">
            <button class="text-white text-lg focus:outline-none pr-2">
                Medicine
            </button>
            <div
            class="absolute right-0 mt-0 w-48 bg-white rounded-md shadow-lg py-2 z-20 hidden group-hover:block navbaroption">
            <a [routerLink]="['/medicine/supplier/create']" class="block px-4 py-2 text-white">Add Medicine</a>
            <a [routerLink]="['/medicine/supplier/view']" class="block px-4 py-2 text-white">View Medicine</a>
            </div>
        </div>
        
        <div class="relative group">
            <button class="text-white text-lg focus:outline-none pr-2">
                Feed
            </button>
            <div
            class="absolute right-0 mt-0 w-48 bg-white rounded-md shadow-lg py-2 z-20 hidden group-hover:block navbaroption">
            <a [routerLink]="['/feed/supplier/create']" class="block px-4 py-2 text-white">Add Feed</a>
            <a [routerLink]="['/feed/supplier/view']" class="block px-4 py-2 text-white">View Feed</a>
        </div>
    </div>
    
    <a [routerLink]="['/request/supplier/view']" class="text-white text-lg pr-2">Requests</a>
    <a [routerLink]="['/feedbacks/supplier/view']" class="text-white text-lg pr-2">Feedbacks</a>

    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none"
    (click)="logout()">
            Logout
        </button>
    </div>
</nav> -->



<nav class="navbar p-3 mx-0 flex justify-between items-center">
    <div class="flex items-center">
        <img [routerLink]="['/home']" src="assets/FC_logo-removebg-preview.png" alt="Logo" class="h-12 w-35">
        <div [routerLink]="['/home']" class="text-white text-4xl text-center">Farm Connect</div>
    </div>
    <div class="flex space-x-4 justify-between items-center">
        <a [routerLink]="['/home']" class="text-white text-lg pr-2">Home</a>

        <div class="relative group">
            <button class="text-white text-lg focus:outline-none pr-2">
                Medicine
            </button>
            <div
                class="absolute right-0 mt-0 w-48 bg-white rounded-md shadow-lg py-2 z-20 hidden group-hover:block navbaroption">
                <a [routerLink]="['/medicine/supplier/create']" class="block px-4 py-2 text-white">Add Medicine</a>
                <a [routerLink]="['/medicine/supplier/view']" class="block px-4 py-2 text-white">View Medicine</a>
            </div>
        </div>

        <div class="relative group">
            <button class="text-white text-lg focus:outline-none pr-2">
                Feed
            </button>
            <div
                class="absolute right-0 mt-0 w-48 bg-white rounded-md shadow-lg py-2 z-20 hidden group-hover:block navbaroption">
                <a [routerLink]="['/feed/supplier/create']" class="block px-4 py-2 text-white">Add Feed</a>
                <a [routerLink]="['/feed/supplier/view']" class="block px-4 py-2 text-white">View Feed</a>
            </div>
        </div>

        <a [routerLink]="['/request/supplier/view']" class="text-white text-lg pr-2">Requests</a>
        <a [routerLink]="['/feedbacks/supplier/view']" class="text-white text-lg pr-2">Feedbacks</a>

        <div class="relative group">
            <img src="assets/hd-profile-user-round-green-icon-symbol-transparent-png-701751695033515odwmcmaxp6.png" alt="Profile" class="h-10 w-10 rounded-full cursor-pointer">
            <div class="absolute right-0 mt-0 w-48 bg-white rounded-md shadow-lg py-2 z-20 hidden group-hover:block navbaroption">
                <div class="px-4 py-2 text-white">{{username}} / {{role}}</div>
                <!-- <div class="px-4 py-2 text-white">user@example.com</div> -->
                <!-- <a [routerLink]="['/profile']" class="block px-4 py-2 text-white hover:bg-gray-100">Profile</a>
                <a [routerLink]="['/settings']" class="block px-4 py-2 text-white hover:bg-gray-100">Settings</a> -->
                <button class="block w-full text-left px-4 py-2 text-white hover:bg-red-500"
                    (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>