.success{
    width: 300px;
    height: 234px;
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 3px auto;
}


.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form elements */
form p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(45deg, #1B5E20, #33691E, #424242, #212121);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* form button:hover {
    background-color: #0056b3;
} */

/* Error message */
form div span {
    font-size: 14px;
}

/* Success modal */
.success {
    text-align: center;
    padding: 20px;
    border: 1px solid #28a745;
    border-radius: 8px;
    background-color: #d4edda;
    color: #155724;
}

.success p {
    font-size: 18px;
    margin-bottom: 10px;
}

.success button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.success button:hover {
    background-color: #218838;
}

