button {
    background: linear-gradient(45deg, #1B5E20, #33691E, #424242);
}
.main{
    margin-bottom: -80px;
}
/*
.form-bg {
    background: linear-gradient(45deg, #A5D6A7, #C5E1A5, #E0E0E0);
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 300px;
} */